# dependencies
node_modules
.pnp
.pnp.js
package-lock.json

# playwright
test-results
playwright-report

# next
.next
out

# production
build
dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env (secrets — use .env*.example as templates)
.env
.env*.local
.env.dev
.env.uat
.env.prod

# typescript
*.tsbuildinfo
next-env.d.ts

# playwright
playwright-report/
test-results/

# misc
.DS_Store
.vercel
